<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected Page</title>
    <link href="/public/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex flex-col h-screen">
    <%- include('partials/topbar') %>
    <div class="flex flex-1 overflow-hidden">
        <%- include('partials/aside-left') %>
        <main class="flex-1 overflow-y-auto p-4 flex flex-col">
          <div class="flex-grow"id="contenu-formation" class="p-4">
            <%- include('partials/contenu') %>
          </div>
            <%- include('partials/chat-gpt-input') %>
        </main>
        <%- include('partials/aside-right') %>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>